[Desktop Entry]
Version=1.1
Name=Qt Virtual Keyboard
Exec=/bin/sh -c "/usr/bin/eta-tif & /usr/bin/eta-keyboard"
Icon=
Terminal=false
Type=Application
Categories=
GenericName=
X-KDE-Autostart-enabled=true
